In [2]:
import osmnx as ox
ox.geocode_to_gdf("Nairobi")

,geometry,bbox_north,bbox_south,bbox_east,bbox_west,place_id,osm_type,osm_id,lat,lon,class,type,place_rank,importance,addresstype,name,display_name
0,"POLYGON ((36.66470 -1.32007, 36.67354 -1.32465...",-1.160675,-1.444882,37.104873,36.664702,32937354,relation,9185096,-1.302615,36.828842,place,city,16,0.667186,city,Nairobi,"Nairobi, Nairobi County, Kenya"